<p>Owner: <%= params[:owner_id] %></p>
<p>Count: <%= params[:count] %></p>
<p>Offset: <%= params[:offset] %></p>

<p> <%= @data.inspect %> </p>
<p> <%= @title.inspect %> </p>
<p> <%= @text.inspect %> </p>
<p> <%= @photos.inspect %> </p>